.woman-video {
  width: 100%;
  height: 100vh;   /* FULL SCREEN */
  overflow: hidden;
}

.woman-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; /* 🔥 SHOW FACES */
  display: block;
}


@media (max-width: 768px) {
  .woman-video {
    height: 30vh;
  }
}
